.player {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
}

.slider-container {
  position: relative;
}

.timeline {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.drag-body {
  height: 100%;
  position: absolute;
  width: 20%;
  border: 1px solid red;
}
